<div class="singleCard">
  <% if link %>
    <%= link_to card.name, add_deck_path(@key, :card_id => card.id), :class => "cardName" %><br />
    HP:<%= card.hp %><br />
    COST:<%= card.cost %><br />
  <% else %>
    <span class="cardName"><%= card.name %></span><br />
    HP:<%= card.hp %><br />
    COST:<%= card.cost %><br />
  <% end %>
  <div class="cardAbility">
  <dl>
  
  <% if card.skill1_name %>
    <dt><%= card.skill1_name %></dt>
    <dd>
    ダメージ:<%= card.skill1_damage %><br />
    コスト:<%= card.skill1_cost %><br />
    <%= truncate card.skill1_text %><br />
    </dd>
  <% end %>
  <% if card.skill2_name %>
    <dt><%= card.skill2_name %></dt>
    <dd>
    ダメージ:<%= card.skill2_damage %><br />
    コスト:<%= card.skill2_cost %><br />
    <%= truncate card.skill2_text %><br />
    </dd>
  <% end %>
  </dl>
  <%= truncate card.effect %>
  </div>
</div>
