<div class="singleCard">
  <% if link %>
    <%= link_to card.name, add_deck_path(@key, :card_id => card.id), :class => "cardName" %><br />
    HP:<%= card.hp %><br />
    COST:<%= card.cost %><br />
  <% else %>
    <%= link_to card.name, nil, :class => "cardName" %><br />
    HP:<%= card.hp %><br />
    COST:<%= card.cost %><br />
  <% end %>
  <div class="cardAbility">
  <% if card.skill1_name %>
    SK:<%= card.skill1_name %>(<%= card.skill1_damage %>/<%= card.skill1_cost %>)<br />
    <%= truncate card.skill1_text, :length => 10 %><br />
  <% end %>
  <% if card.skill2_name %>
    SK:<%= card.skill2_name %>(<%= card.skill2_damage %>/<%= card.skill2_cost %>)<br />
    <%= truncate card.skill2_text, :length => 10 %><br />
  <% end %>
  <%= truncate card.effect, :length => 10 %>
  </div>
</div>
